.recipe {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F8D8BC;
    overflow-y: scroll;
}

.recipe--img--div {
    width: 100vw;
    border-radius: 0px 0px 15px 15px;
    position: relative;
}

.recipe--img--div2{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.recipe--img--div3 {
    display: flex;
    width: 95%;
    margin-bottom: auto;
    padding: 10px;
}

.recipe--img {
    height: auto;
    width: 100vw;
    object-fit: contain;
    z-index: -1;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.recipe--blackcircle {
    background-color: #000000;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe--blackcircle:last-child {
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.recipe--von {
    height: 26px;
    width: 26px;
    background-color: #82B681;
    border-radius: 50%;
    margin-left: auto;
}

.recipe--title--div {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.recipe--title--div h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4B4B4B;
}

.recipe--title--div img {
    margin-left: auto;
    margin-right: 5px;
}

.recipe--ingredients {
    padding: 10px;
}

.recipe--ingredients h2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: #373737;
    margin: 10px 0px;
}

.recipe--ingredients ol {
    margin: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #585858;
}

.recipe--recipe {
    padding: 10px;
}

.recipe--recipe h2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: #373737;
    margin: 10px 0px;   
}

.recipe--recipe p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #585858;
}

.recipe--suggestion {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
