.dishcard {
    width: 250px;
    height: 350px;
    background: #FEB159;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
    margin-bottom: 2em;
}

.dishcard>img {
    height: 55%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
}

.dishcard h4 {
    margin-bottom: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #373737;
}

.dishcard--lastrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10px 0px;
}

.dishcard--von {
    width: 26px;
    height: 26px;
    border-radius: 15px;
    margin-left: auto;
}

.dishcard--titlediv {
    height: 5em;
    width: 90%;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dishcard--titlediv h2 {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 24px;
    color: #373737;
    cursor: pointer;
}

@media only screen and (max-width: 550px) {
    .dishcard {
        width: 300px;
    }
}