.header--user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
}

.profileico {
    display: flex;
    margin: 0px 10px;
}

.header--user label {
    font-weight: 500;
    font-size: 0.9em;
    line-height: 17px;
    margin: 2px 0px;
    color: rgba(30, 30, 30, 0.87);
}

.header--user button {
    font-weight: 500;
    font-size: 0.9em;
    line-height: 12px;
    color: rgba(30, 30, 30, 0.87);
    margin: 2px 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.2em;
}

.header--profile {
    width: 39px;
    height: 39px;
    background: #FEB159;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--profile--person {
    height: 1.5em;
    width: 1.5em;
}