.signupage--maincontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup--blackcircle {
    background-color: #000000;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-right: auto;
}

.signup--blackcircle--msg {
    background-color: #000000;
    height: 36px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 20px;
    margin-right: auto;
    color: rgb(251, 250, 250);
}

@media only screen and (max-width: 550px) {
    .signup--blackcircle--msg {
        margin: 50px 0px;
    }
}

.signup--form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.signup--form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup--form>h1 {
    font-weight: 600;
    font-size: 3em;
    line-height: 58px;
    color: #1E1E1E;
}

.signup--inputdiv {
    width: 15em;
    height: 3em;
    background: #FEB159;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup--inputdiv input,
select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    color: #5F5F5F;
    margin: 10px;
}

.signup--inputdiv input:focus,
select:focus {
    outline: none;
    background: none;
}

.signup--loginbtn {
    width: 103px;
    height: 38.9px;
    background: #64D0FF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 20px;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
}

.signup--bottom--text {
    padding: 20px 0px;
}

.signup--bottom--text h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5F5F5F;
}

.signup--bottom--text span {
    color: #005EEB;
    cursor: pointer;
}

.signup--inputgrid {
    display: grid;
    grid-template-columns: auto;
    column-gap: 40px;
    row-gap: 30px;
    margin: 20px 0px;
}

.signup--fielddiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 16em;
}

.signup--fielddiv label {
    margin: 10px;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 24px;
    color: #161616;
}

.signup--fielddiv p {
    color: lightcoral;
    font-weight: 500;
    font-size: 1em;
    line-height: 18px;
    margin-top: 12px;
    margin-left: 10px;
}

.signup--otp--msg {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5F5F5F;
}

.signup--otp--msg span {
    color: #005EEB;
}

@media only screen and (min-width: 768px) {
    .signup--inputgrid {
        grid-template-columns: repeat(2, 1fr);
    }
}