.homepage--grid {
    width: fit-content;
    margin: 10px 0px;
    display: grid;
    grid-template-columns: auto;
    column-gap: 30px;
} 

.homepage--main--content {
    width: 100%;
}

.homepage--main--content--div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage {
    display: flex;
    width: 100vw;
}

@media only screen and (min-width: 550px) {
    .homepage--grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 950px) {
    .homepage--grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1350px) {
    .homepage--grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1650px) {
    .homepage--grid {
        grid-template-columns: repeat(5, 1fr);
    }
}