.sidebar--background {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    height: 100vh;
}


.sidebar--expanded {
    transform: translateX(0px);
    transition: 0.3s;

}

.sidebar--collapse {
    transform: translateX(-500px);
    transition: 0.3s;
}

.sidebar {
    background: #FDFAF4;
    box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.25);
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar--title { 
    margin: 30px 0.7em;
    font-weight: 600;
    font-size: 1.7em;
    line-height: 36px;
    color: #1E1E1E;
}

.sidebar hr {
    color: black;
    width: 80%;
    border: 1px solid #DEDEDE;
}

.sidebar--blob {
    margin-top: auto;
}

.sidebar--heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sidebar--heading img {
    padding: 0px 20px;
}