.pnf--div {
    height: 100%;
    width: 100%;
}

.pnf--background {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: -2;
    height: 100%;
    width: 100%;
}

.pnf--background--blob {
    width: 180px;
    height: 180px;
}

.pnf--background--blob:nth-child(1) {
    margin-bottom: auto;
    margin-left: auto;
}